# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Rust target
src-tauri/target

# Built trajoptlib dylibs
src-tauri/*.dll
src-tauri/lib*.dylib
src-tauri/lib*.so
src-tauri/lib*.so.*

# clangd
.cache
compile_commands.json

# mkdocs
site/
