.Container {
    background: transparent;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 3px;
    padding-bottom:3px;
}
.Title{
    width:20%;
    text-align: center;
}
.Number{
    width:30%;
    background-color: transparent;
    border:none;
    color:white;
    border-bottom: solid white 2px;
}
.Suffix{
    width: 20%;
    text-align: center;
}
.Checkbox{
    width:10%;
}