.Opacity {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 90vh;
  background-color: #00000080;
}

.RobotConfigPanel {
  position: absolute;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;

  max-height: 70vh;
  background-color: var(--background-light-gray);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
  font-size: 1em !important;
  padding-top: 10px;
  padding: 20px 10px;
}

.RobotConfigPanel .NumberEntryList {
  width: 90%;
  min-width: 15rem;
  max-width: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.RobotConfigPanel .ExitButton {
  color: white;
  position: absolute;
  right: 20px;
  top: 20px;
}

.RobotConfigPanel .ExitButton:hover {
  background-color: #54585f;
}
