.Container{
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
    position:relative;
}
.FieldBackground{
    /* width: max-content; */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position:relative;
    
}