.Container :global .moveable-rotation {
            height:0 !important;
}
.Container :global .moveable-rotation-control  {
    border:none !important;
    border-radius: 50% !important;
    width:100%;
}
.Container {
    position: absolute;
    bottom: 0;
    left:0;

}

.Waypoint {
    position:absolute;

    height:100px;
    
    box-sizing: border-box;
    top:0;
    left:0;
    transform-origin: center;
    
}
.Waypoint.heading {
    outline: 7px solid blue;
    outline-offset: -7px;
}
.Waypoint.selected {
    outline-color: var(--select-yellow);
}

.DragTarget{
    content: "";
    border-radius: 50%;
    height:100%;
    aspect-ratio: 1 / 1;
    background-color: var(--accent-purple);
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.35);
    transform-origin: 50% 50%;
}
.Waypoint .HeadingTarget{
    content: "";
    border-radius: 50%;
    height:100%;
    aspect-ratio: 1 / 1;
    background-color: transparent;
    position:absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%,-50%) scale(0.35);
}
.Waypoint.heading .HeadingTarget{
    background-color: blue;
}
.Waypoint.selected.heading .HeadingTarget{
    background-color: var(--select-yellow);
}

