.Container {
    background-color: #202225;
    border: 1px solid #3F3F3F;
    color: white;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1rem;
    border: 0px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: 4rem;
}

.PathChooserContainer {
    display:flex;
    align-items: center;
    font-size: 1rem;
    border: 0px;
}

.PathSelectControl {
    background-color: #7D73E7 !important;
    border-width: 0 !important;
    border-radius: 10 !important;
    width: 200px !important;
    height: 20px !important;
}

.PathOptionContainer {
    background-color: black !important;
    color: 'white';
    margin-left: 4;
    margin-right: 0;
    margin-bottom: 4;
    width: 192;
    min-height: 20px !important;
    height:20px !important;
    border-radius: 6px;
    cursor: default;
}

.PathOptionRenameInput{
    background-color: transparent;
    border:none;
    color:white;
    align-self: center;
    border-bottom: solid white 2px;
    z-index: top;
}

.Container Button {
    background-color: var(--accent-purple);
    color: white;
    height: 2.5rem;
    text-transform: none;
    margin: 0.3rem;
    border-radius: 10px;
    font-size: 1rem;
}

.Container Button:hover {
    background-color: var(--darker-purple);
}

.Container .generate:hover {
    outline: 2.5px solid #FFC52F;
}