.Container {
    background-color: #2C2C2C;
    color: white;
    border: 1px solid #3F3F3F;
    padding-left: 20px;
    padding-right: 20px;
    flex: 0, 0, 50px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 5rem;
}

.PathChooserContainer {
    display: flex;
    flex-direction: row;
}

.PathSelect {
    color: blue;
}
.PathSelectControl {
    background-color: #7D73E7 !important;
    border-width: 0 !important;
    border-radius: 10 !important;
    width: 200px !important;
    height: 20px !important;
}
.PathOptionContainer {
    background-color: black !important;
    color: 'white';
    margin-left: 4;
    margin-right: 0;
    margin-bottom: 4;
    width: 192;
    min-height: 20px !important;
    height:20px !important;
    border-radius: 6px;
    cursor: default;
}
.PathOptionRenameInput{
    background-color: transparent;
    border:none;
    color:white;
    align-self: center;
    border-bottom: solid white 2px;
    z-index: top;
}
@media only screen and (max-width:1000px) {
    .Container h1 {
        display: none;
    }

    
}

.Container button, .Container select {
    background-color: var(--accent-purple);
    color: white;
    height: 20px;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    border: 0px;
    border-radius: 6px;
    margin: 5px;
    min-height: 38px;
}

.Container button.action{
    background-color: var(--accent-purple);
    color: white;
    height: 20px;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    border: 0px;
    border-radius: 6px;
    margin: 5px;
    min-height: 38px;
    padding-inline: 16px;
}

.Container button.small {
    min-height: 20px;
    height: 20px;
}