.Container {
    background-color: #2C2C2C;
    color: white;
    border: 1px solid #3F3F3F;
    padding-left: 20px;
    padding-right: 20px;
    flex: 0, 0, 50px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 5rem;
}

.PathChooserContainer {
    display: flex;
    flex-direction: row;
}

.PathSelect {
    color: blue;
}

@media only screen and (max-width:1000px) {
    h1 {
        display: none;
    }
    .Container {
        justify-content: end;
    }
    
}

button, select {
    background-color: #4D4D4D;
    color: white;
    font-weight: bold;
    height: 1.5rem;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    border: 0px;
    border-radius: 6px;
    margin: 5px;
}