.Container {
    height: 3rem;
    background-color: darkslategrey;
    border-radius: 1rem;
    width: 95%;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    box-sizing: border-box;
    user-select: "none";
    padding: 16;
    margin: 0 0 8px 0;
}