.Container {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    height:100%;
}

.Sidebar{
    background-color: var(--background-dark-gray);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 5.5rem;
    color: white;
    box-sizing: border-box;
    padding-block: 10px;
}

.WaypointList{
    padding-top: 8px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    box-sizing: border-box;
    overflow-y: scroll;
}

.WaypointPanel{
    overflow-x:hidden;
    overflow-y: scroll;
    position:absolute;
    top:0;
    padding: 10px;
    width:200px;
    background-color: var(--background-light-gray);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 0px 0px 10px 0px;
}

.Icon {
    height: 48px;
    
    border-radius: 50%;
    width: 48px;
    font-size:24px;
    text-align: center;
    flex-shrink: 0;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: auto;
    padding-bottom: auto;
    box-sizing: border-box;
}

