.Sidebar{
    background-color: #2C2C2C;
    border: 1px solid #3F3F3F;
    /* align-self: center; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 250px;
    color: white;
}
button, select {
    background-color: #4D4D4D;
    color: white;
    font-weight: bold;
    height: 1.5em;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    border: 0px;
    border-radius: 6px;
    margin: 5px;
}