.Container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  width: var(--sidebar-width);
  color: white;
  background-color: var(--background-dark-gray);
  border-right: thin solid var(--divider-gray);
}
.Container > :not(hr, .Sidebar) {
  padding-left: 8px;
}

.Sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  min-width: var(--sidebar-width);

  box-sizing: border-box;
  padding-block: 8px;
  overflow-x: auto;
  overflow-y: scroll;
  --grid-gap: 8px;
  --line-height: 32px;
  --icon-size: 24px;
}

.SidebarHeading {
  display: grid;
  grid-template-columns: auto 33.6px;
  height: fit-content;
  align-items: center;
  min-height: 30px;
}

.Sidebar > :not(hr, :global(.MuiDivider-root)) {
  padding-left: 8px;
}

.SidebarDivider span {
  color: gray;
  font-size: 14px;
}

.WaypointList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.SidebarItem {
  color: white;
  border-left: 4px solid var(--background-light-gray);
  height: var(--line-height);
  /* background-color: var(--accent-purple); */
  /* border-radius: 50% !important; */
  width: 100%;
  font-size: 18px;
  flex-shrink: 0;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 8px;
  padding-top: auto;
  padding-bottom: auto;
  box-sizing: border-box;
  color: white;
  text-align: left;
  display: grid;
  grid-template-columns: var(--icon-size) 1fr max-content;
  align-items: center;
  gap: var(--grid-gap);
  padding-right: 8px;
  user-select: none;
  max-width: 100%;
}

.SidebarItem:hover:not(.Selected) {
  border-left: 4px solid var(--darker-purple);
}
.SidebarItem.Noninteractible {
  border-left: 4px solid transparent;
  background-color: transparent;
}
.Selected {
  border-width: 0;
  border-left: 4px solid var(--select-yellow);
}
.SidebarItem .SidebarIcon,
.SidebarItem .SidebarRightIcon {
  height: var(--icon-size);
  width: var(--icon-size);
}
.SidebarItem .SidebarVerticalLine {
  border-left: solid gray 1px;
  height: calc(100% + var(--grid-gap));
  transform: translate(calc(var(--icon-size) / 2), calc(var(--grid-gap) / -2));
}
.SidebarItem .SidebarLabel {
  color: white;
}
.SidebarItem .SidebarRightIcon {
  padding-right: 8px;
}
