.Container {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}
.Sidebar{
    background-color: #2C2C2C;
    
    /* align-self: center; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    color: white;
    box-sizing: border-box;
}
.WaypointList{
    outline: 1px solid #3F3F3F;
    padding-top: 8px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
}
.WaypointPanel{
    overflow-x:hidden;
    overflow-y: scroll;
    padding-left: 10px;
    width:200px;
    background-color: #414141;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

button, select {
    background-color: #4D4D4D;
    color: white;
    font-weight: bold;
    height: 1.5em;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    border: 0px;
    border-radius: 6px;
    margin: 5px;
}