.Container {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}
.Sidebar{
    background-color: #2C2C2C;
    border: 1px solid #3F3F3F;
    /* align-self: center; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60px;
    color: white;
    box-sizing: border-box;
}
.WaypointPanel{
    overflow-x:hidden;
    overflow-y: scroll;
    width:200px;
    background-color: #414141;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.WaypointList{
    padding: 8px;
  width: 100%;
  box-sizing: border-box;
}
button, select {
    background-color: #4D4D4D;
    color: white;
    font-weight: bold;
    height: 1.5em;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    border: 0px;
    border-radius: 6px;
    margin: 5px;
}