.Container {
    height: 3rem;
    background-color: #4D4D4D;
    border-radius: 2rem;
    width: 95%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}