:root {
  --accent-purple: #7D73E7;
  --darker-purple: #5F55CD;
  --select-yellow: #FFC52F;
}
html {
}
* {
  font-size: 1rem;
}
*::-webkit-scrollbar {
  width: 10px;
  
}
*::-webkit-scrollbar-track{
  background: transparent;
  border-radius: 5px;
}
*::-webkit-scrollbar-thumb{
  background: var(--select-yellow);
  width:6px;
  border-radius: 4px;
}
h1 {
  font-size: 2.2rem;
}
h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.3rem;
}
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  min-width: 0;
  min-height: 0;
  position:fixed;
}

.Page {
  background: #2F3136;
  width:100%;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex: 1;
  min-height: 0;
  min-width: 0;
}


