:root {
  --accent-purple: #7D73E7;
  --select-yellow: #FFC52F;
}
html {
  font-size: calc(60% + 0.8vmin);
}
* {
  font-size: 1rem;
}
h1 {
  font-size: 2.2rem;
}
h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.3rem;
}
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  min-width: 0;
  min-height: 0;
}

.Page {
  display: flex;
  flex-direction: row;
  flex: 1;
  min-height: 0;
  min-width: 0;
}
