name: Build

on: [pull_request, push]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    env:
      MACOSX_DEPLOYMENT_TARGET: 12
    strategy:
      fail-fast: false
      matrix:
        include:
          - artifact-name: Windows-x86_64
            os: windows-2022
            bundle-pattern: "nsis/*.exe"

          - artifact-name: macOS-x86_64
            os: macOS-13
            bundle-pattern: "dmg/*.dmg"

          - artifact-name: macOS-arm64
            os: macOS-14
            bundle-pattern: "dmg/*.dmg"

          - artifact-name: Linux-x86_64
            os: ubuntu-latest
            bundle-pattern: "deb/*.deb"

    name: "${{ matrix.artifact-name }}"
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - name: Install Linux dependencies
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt update
          sudo apt install libwebkit2gtk-4.0-dev \
            build-essential \
            curl \
            wget \
            file \
            libssl-dev \
            libgtk-3-dev \
            libayatana-appindicator3-dev \
            librsvg2-dev

      - name: Install Node.js dependencies
        run: npm install
        continue-on-error: true

      - name: Build package
        run: npm run tauri build

      - name: Upload bundle
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.artifact-name }}
          path: src-tauri/target/**/release/bundle/${{ matrix.bundle-pattern }}

  release:
    name: Create draft release
    needs: [build]
    runs-on: ubuntu-latest
    if: |
      github.repository_owner == 'SleipnirGroup' &&
      startsWith(github.ref, 'refs/tags/v')

    steps:
      - name: Download prebuilt binaries
        uses: dawidd6/action-download-artifact@v2
        with:
          workflow: build.yml
          workflow_conclusion: success
          path: pkg
          commit: ${{ github.sha }}

      - name: Display structure of downloaded files
        run: ls -R

      - name: Rename Windows-x86_64 bundle
        working-directory: pkg/Windows-x86_64/release/bundle/nsis
        run: mv *.exe Choreo-${{ github.ref_name }}-Windows-x86_64.exe

      - name: Rename macOS x86_64 bundle
        working-directory: pkg/macOS-x86_64/release/bundle/dmg
        run: mv *.dmg Choreo-${{ github.ref_name }}-macOS-x86_64.dmg

      - name: Rename macOS arm64 bundle
        working-directory: pkg/macOS-arm64/aarch64-apple-darwin/release/bundle/dmg
        run: mv *.dmg Choreo-${{ github.ref_name }}-macOS-arm64.dmg

      - name: Rename Linux x86_64 file
        working-directory: pkg/Linux-x86_64/release/bundle/deb
        run: mv *.deb Choreo-${{ github.ref_name }}-Linux-x86_64.deb

      - name: Display structure of renamed files
        run: ls -R

      - uses: ncipollo/release-action@v1
        with:
          name: Choreo ${{ github.ref_name }}
          tag: ${{ github.ref_name }}
          artifacts: "pkg/**/*.exe,pkg/**/*.dmg,pkg/**/*.deb"
          draft: true
          prerelease: true
