name: Lint and Format

on: [pull_request, push]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  format:
    name: "Format"
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: false
          token: ${{secrets.GITHUB_TOKEN}}

      - name: Fetch all history and metadata
        run: |
          git checkout -b pr
          git branch -f main origin/main

      - uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: 21

      - name: Make GCC 14 the default toolchain (Linux)
        run: |
          sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-14 200
          sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-14 200

      - name: Install Linux dependencies
        run: |
          sudo apt-get update -q
          sudo apt-get install -y \
            build-essential \
            curl \
            file \
            libayatana-appindicator3-dev \
            librsvg2-dev \
            libssl-dev \
            libwebkit2gtk-4.1-dev \
            libxdo-dev \
            wget

      - uses: pnpm/action-setup@v4
        with:
          version: 10

      - uses: actions/setup-node@v6
        with:
          node-version: 18.x
          cache: "pnpm"

      - run: pnpm install prettier@3.7.4

      - uses: actions/setup-python@v6
        with:
          python-version: 3.14

      - run: pip3 install wpiformat==2025.79

      - run: pnpm run fmt

      - run: cargo clippy -- -D warnings

      - name: Check output
        run: git --no-pager diff --exit-code HEAD

      - name: Generate diff
        run: git diff HEAD > wpiformat-fixes.patch
        if: ${{ failure() }}

      - uses: actions/upload-artifact@v6
        with:
          name: wpiformat fixes
          path: wpiformat-fixes.patch
        if: ${{ failure() }}

      - name: Write to job summary
        run: |
          echo '```diff' >> $GITHUB_STEP_SUMMARY
          cat wpiformat-fixes.patch >> $GITHUB_STEP_SUMMARY
          echo '' >> $GITHUB_STEP_SUMMARY
          echo '```' >> $GITHUB_STEP_SUMMARY
        if: ${{ failure() }}

  tsc:
    name: "TypeScript compiler"
    runs-on: ubuntu-slim
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
          token: ${{secrets.GITHUB_TOKEN}}
      - uses: pnpm/action-setup@v4
        with:
          version: 9

      - uses: actions/setup-node@v6
        with:
          node-version: 18.x
          cache: "pnpm"

      - run: pnpm install
      - run: npx tsc

  choreolib-tidy:
    name: "ChoreoLib clang-tidy"
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
          token: ${{secrets.GITHUB_TOKEN}}
          fetch-depth: 0

      - name: Fetch all history and metadata
        run: |
          git config --global --add safe.directory /__w/Choreo/Choreo
          git checkout -b pr
          git branch -f main origin/main

      - uses: actions/setup-python@v6
        with:
          python-version: 3.14

      - run: pip3 install wpiformat==2025.79

      - name: Create compile_commands.json
        working-directory: choreolib
        run: |
          ./gradlew generateCompileCommands -Ptoolchain-optional-roboRio
          ../.github/workflows/fix_compile_commands.py build/TargetedCompileCommands/linuxx86-64release/compile_commands.json
          ../.github/workflows/fix_compile_commands.py build/TargetedCompileCommands/linuxx86-64debug/compile_commands.json

      - name: List changed files
        working-directory: choreolib
        run: wpiformat -f . -list-changed-files

      - name: Run clang-tidy debug
        working-directory: choreolib
        run: wpiformat -f . -no-format -tidy-all -compile-commands=build/TargetedCompileCommands/linuxx86-64debug

      - name: Run clang-tidy release
        working-directory: choreolib
        run: wpiformat -f . -no-format -tidy-all -compile-commands=build/TargetedCompileCommands/linuxx86-64release

  trajoptlib-tidy:
    name: "TrajoptLib clang-tidy"
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
          token: ${{secrets.GITHUB_TOKEN}}
          fetch-depth: 0

      - name: Fetch all history and metadata
        run: |
          git config --global --add safe.directory /__w/Choreo/Choreo
          git checkout -b pr
          git branch -f main origin/main

      - uses: actions/setup-python@v6
        with:
          python-version: 3.14

      - name: Install LLVM 21
        run: |
          wget https://apt.llvm.org/llvm.sh
          chmod +x llvm.sh
          sudo ./llvm.sh 21 all
          sudo update-alternatives --install /usr/bin/clang clang /usr/bin/clang-21 200
          sudo update-alternatives --install /usr/bin/clang++ clang++ /usr/bin/clang++-21 200
          echo "CC=clang" >> $GITHUB_ENV
          echo "CXX=clang++" >> $GITHUB_ENV
          echo "CXXFLAGS=-stdlib=libc++" >> $GITHUB_ENV

      - run: pip3 install wpiformat==2025.79

      - name: Create compile_commands.json
        run: cmake -B build -S . -DCMAKE_EXPORT_COMPILE_COMMANDS=YES
        working-directory: trajoptlib

      - name: List changed files
        run: wpiformat -f . -list-changed-files
        working-directory: trajoptlib

      - name: Run clang-tidy
        run: wpiformat -f . -no-format -tidy-all -compile-commands=build -tidy-extra-args std=c++23
        working-directory: trajoptlib
