name: Trigger a Release

on:
  workflow_dispatch:
    inputs:
      tag:
        description: "Tag Name"
        required: true
        default: "v0.0.0-test"

jobs:
  update-version:
    name: "Update Version"
    runs-on: ubuntu-22.04
    container: ${{ matrix.container }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
          fetch-depth: 0
          token: ${{ secrets.CHOREO_RELEASE_PAT }}
      - name: Install Python dependencies
        run: pip install tomlkit

      - uses: pnpm/action-setup@v4
        with:
          version: 9

      - uses: actions/setup-node@v4
        with:
          node-version: 18.x
          cache: "pnpm"

      - run: pnpm install prettier@3.3.3
      - name: Update version
        run: |
          ./update_version.py ${{ github.event.inputs.tag }}
          pnpm run fmtJs
          cargo update -w
      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Update version numbers to ${{ github.event.inputs.tag }}

      - name: Create tag
        uses: actions/github-script@v5
        with:
          script: |
            github.rest.git.createRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: 'refs/tags/${{ github.event.inputs.tag }}',
              sha: context.sha
            })
      - name: Push tags
        run: git push --tags
